body{
    overflow-x: hidden;
  }
body{
  background: rgb(16,255,60);
background: radial-gradient(circle, rgba(16,255,60,1) 13%, rgba(22,108,230,0.9038461538461539) 81%);
}
    table {
      border-radius: 10px;
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      font-family: Times New Roman;
      color: black;
      border: 1px solid black;
      padding: 10px;
      text-align: left;
      
    }
    th {
      
      background-color: #f2f2f2;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    h2 {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .course-info {
      text-align: center;
      font-size: 18px;
      color: #777;
      margin-bottom: 20px;
    }
    form {
      margin-bottom: 20px;
    }
    label {
      display: block;
      margin-top: 10px;
    }
    input[type="text"], input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid gray;
    }
    input[type="submit"] {
      background: #333;
      color: #fff;
      border: none;
      padding: 10px;
      cursor: pointer;
      margin-top: 10px;
    }
    input[type="submit"]:hover {
      background: #666;
    }
  p{
    font-size: 18px;
    font-family: Georgia;
    color: blue;
    font-face: bold;
  }
  h3, h2{
    font-family: Times New Roman;
    color: black;
    font-face: bold;
  }
  img{
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }
