body{
  overflow-x: hidden;
  background-color: darkturquoise;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  color: black;
  font-family: Times New Roman;
  border: 2px solid blue;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid blue;
}

th {
  background-color: aquamarine;
}
h1{
  text-align: center;
  font-family: Georgia;
}
tr:hover {
  background-color: chartreuse;
  
}

.sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(15px);
    z-index: 200;
    transition: all 0.7s ease 0s;
    transform: translateX(-500px);
}

.toggle-btn {
    font-size: 35px;
    cursor: pointer;
    color: white;
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: 0px;
    padding: 10px;
    position: fixed;
}

.menu {
    padding: 50px 0 0 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    padding: 10px 0;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.content {
    padding: 16px;
}

.sidebar.open {
    width: 250px;
    transform: translateX(1px);
}
